html,
body {
	user-select: none;
	background: #ffffff;
}

.cont {
	width: 7.5rem;
}

.cont>img {
	width: 100%;
	display: block;
}

.btn {
	position: fixed;
	top: 50%;
	left: calc(100% - 60px);
	z-index: 2;
}

.btn2 {
	position: fixed;
	bottom: 0;
	z-index: 2;
	text-align: center;
}
